binaries/

**/CMakeFiles/
**/CMakeCache.txt
**/cmake_install.cmake
**/Makefile
**/.vs/
**/x64/
**/Debug/
**/Release/
*.o
*.obj
*.a
*.lib
*.so
*.dll
*.exe
*.sys
*.cat
*.pdb
*.class
*.jar

*.log
*.tmp
*.bak
*~
.cache/
