[Unit]
Description=Kinect Remold - Xbox One runtime
After=local-fs.target systemd-udevd.service

[Service]
WorkingDirectory=/var/lib/kinect-one-remold
Type=simple
ExecStart=/usr/libexec/kinect-one-remold/kinect-one-remold
Restart=on-failure
RestartSec=1s
RuntimeDirectory=kinect-one-remold
RuntimeDirectoryMode=0755
KillMode=control-group
TimeoutStopSec=5s
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=full
ProtectHome=true

[Install]
WantedBy=multi-user.target
